body {
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: lightgray;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 20%;
}

.grid-container {
  display: flex;
  max-width: 960px;
  box-shadow: 5px 5px 15px;
}

.grid-item {
  width: 25px;
  height: 25px;
  background-color: white;
  border: solid 1px;
  box-sizing: border-box;
}

.color-pallete {
  background-color: black;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  box-shadow: 1px 1px 7px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.color-pallete:hover {
  transform: scale(1.05);
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn {
  background-color: white;
  border: 1px solid black;
  height: 50px;
  width: 120px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: 1px 1px 3px;
}

.btn:hover {
  transform: scale(1.1);
}
